/* body */
body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
/* all color */
:root{
    --text-color: #3A3A3A;
    --header-color: #3A3A3A;
    --btn-color: #E02C6D;
    --btn-hover-color: #eb296c;
}



/* header */
#header-section{
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.header-container{
    padding: 30px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.logo a{
    font-size: 24px;
    color: var(--header-color);
    font-weight: 700;
    text-decoration: none;
}

nav li{
    list-style: none;
    display: inline;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
}
nav a:hover{
    color: var(--btn-hover-color);

}



/* hero section */
.hero-container{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

#hero-section{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 600px;
} 

.hero-content h1{
    font-size: 52px;
    color: var(--header-color);
    margin-bottom: 0px;
    margin-top: 0px;
}

.hero-content p{
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 40px;
    width: 600px;
}

.hero-content a{
    background-color: var(--btn-color);
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
    text-decoration: none;
}

.hero-content span{
    padding-left: 10px;
}

.hero-content a:hover{
    background-color: var(--btn-hover-color);
}

.hero-image img{
    width: 400px;
    height: 400px;
}
.hero-image:hover{
    transform: rotate(30deg);
    transition-duration: 3s;
}



/* product area */
#products-area{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
} 
#products-area h2{
    color: var(--header-color);
    font-size: 28px;
    text-align: center;
    margin-bottom: 51px;
}
.products-container{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.product{
    box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
}

.product .product-title{
    color: var(--header-color);
    font-size: 28px;
    color: var(--header-color);
    margin: 15px 0px 0px 0px;
}
.product .product-price{
    color: var(--text-color);
    font-size: 24px;
    color: var(--header-color);
    font-weight: 400;
    margin: 10px 0px 0px 0px;
}
.product .product-rating{
    color: orange;
}
.rating-number{
    margin-left: 10px;
    font-weight: 500;
}
.rating{
    display: flex;
    align-items: center;
}

.product-description{
    margin: 0px;
}
.product img{
    width: 100%;
    border-radius: 10px;
}


.product-button a{
    color: var(--btn-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    float: right;
    margin-top: 40px;
}
.product-button a:hover{
    color: var(--btn-hover-color);

}

.product-button span{
    padding-left: 10px;
}



/* contact area*/
#contact-area{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
} 

.contact-container{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.contact-image{
    padding: 20px;
}

.contact-info input{
    margin-left: 20px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.contact-info a{
    background-color: var(--btn-color);
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
    text-decoration: none;
    margin-left: 20px;
}
.contact-info a:hover{
    background-color: var(--btn-hover-color);
}
.contact-info span{
    padding-left: 10px;
}


/* footer area */
#footer-area{
    background: #0A0826;
    text-align: center;
    padding: 100px 0px 100px 0px;
}

.footer-content h2{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.footer-content p{
    color: #D9DBE1;
    font-size: 14px;
}
.copyright-text{
    margin-bottom: 0px;
}
.copyright-reserved{
    margin-top: 0px;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-icon i{
    margin-top: 12px;
}
.facebook {
    background: rgba(255, 255, 255, 0.164);
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.instagram {
    background: rgba(255, 255, 255, 0.164);
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.twitter {
    background: rgba(255, 255, 255, 0.164);
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.youtube {
    background: rgba(255, 255, 255, 0.164);
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.facebook:hover{
    background-color: var(--btn-hover-color);
}
.instagram:hover{
    background-color: var(--btn-hover-color);
}
.twitter:hover{
    background-color: var(--btn-hover-color);
}
.youtube:hover{
    background-color: var(--btn-hover-color);
}




/* responsive */


/* header area responsive */
@media only screen and (max-width: 1224px) {
    .header-container{
        padding: 30px 50px;
    }
  }

  @media only screen and (max-width: 768px) {
    .header-container{
        display: block;
        text-align: center;
    }
    .logo a{
        font-size: 18px;
    }

    
  }
  @media only screen and (max-width: 575px) {
    nav{
        display: none;
    }

    .logo a{
        font-size: 16px;
    }
  }




  /* hero section responsive */

@media only screen and (max-width: 1224px) {
    .hero-container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .hero-content{
        text-align: center;
    }
    .hero-content h1{
        font-size: 40px;
    }
    .hero-content p{
        font-size: 16px;
        color: var(--text-color);
        margin-bottom: 40px;
        width: auto;
        padding: 0px 100px;
    }
    .hero-image img{
        width: 300px;
        height: 300px;
    }
    .hero-image{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 50px;
    }
    
    #hero-section{
        display: grid;
        justify-content: center;
        align-items: center;
    } 

    .hero-image:hover{
        transform: none;
    }

    
  }

@media only screen and (max-width: 650px) {
    .hero-content{
        text-align: center;
    }
    .hero-content h1{
        font-size: 36px;
    }

    
  }
@media only screen and (max-width: 575px) {
    .hero-content{
        text-align: center;
    }
    .hero-content h1{
        font-size: 32px;
    }

    .hero-content p{
        padding: 0px 20px;
    }
    
  }
@media only screen and (max-width: 402px) {
    .hero-content{
        text-align: center;
    }
    .hero-content h1{
        font-size: 30px;
    }

    .hero-content p{
        padding: 0px 0px;
    }
    
  }
@media only screen and (max-width: 340px) {
    .hero-content h1{
        font-size: 28px;
    }
    .hero-image img{
        width: 200px;
        height: 200px;
    }

  }



  /* product area */
  @media only screen and (max-width: 1224px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0px 20px;
    }

    .product .product-title{
        font-size: 20px;
    }
    .product .product-p{
        font-size: 15px;
    }
    .product .product-price{
        font-size: 18px;
    }

    .product-button{
        float: none;
        margin: auto;
    }

  }
  @media only screen and (max-width: 780px) {
    #products-area h2{
        margin-bottom: 20px;
    }

    #products-area{
        margin-bottom: 40px;
    }

  }

  @media only screen and (max-width: 500px) {
    .product-button{
        padding-right: 10px;
        float: right;
        margin: 0;
    }


  }
  @media only screen and (max-width: 600px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 0px 20px;
    }

  }

  @media only screen and (max-width: 450px) {
    #products-area{
        margin-top: 50px;
    }

  }



/* contact area */
@media only screen and (max-width: 1224px) {
    .contact-container{
        display: flex;
        max-width: 800px;
    }
    .contact-info a{
        margin-left: 0px;
    }
    .contact-info{
        padding: 20px;
    }
    .contact-info input{
        margin-left: 0px;
        padding: 25px;
        margin-bottom: 15px;
        display: block;
    }
  }
@media only screen and (max-width: 880px) {
    .contact-container{
        display: block;
        max-width: 800px;
    }
    .contact-info{
        padding: 20px;
    }
    .contact-info input{
        display: block;
        width: 87%;
        margin-bottom: 20px;
    }

  }
@media only screen and (max-width: 582px) {
    #contact-area{
        display: none;
    }
    
  }




  /* footer responsive */
  @media only screen and (max-width: 455px) {
    .footer-content p{
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    .footer-content h2{
        font-size: 16px;
    }
    
  }